USE [master]
GO
/****** Object:  Database [bitirme_projesi]    Script Date: 24.01.2024 01:11:09 ******/
CREATE DATABASE [bitirme_projesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bitirme_projesi', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bitirme_projesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bitirme_projesi_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bitirme_projesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bitirme_projesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bitirme_projesi]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 24.01.2024 01:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[subject] [nvarchar](50) NOT NULL,
	[message] [text] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mahalleler]    Script Date: 24.01.2024 01:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mahalleler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mahalle_adi] [varchar](50) NOT NULL,
	[tapu_mahalle_adi] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ozgurluk]    Script Date: 24.01.2024 01:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ozgurluk](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mahalle_id] [int] NOT NULL,
	[pafta_no] [nvarchar](255) NULL,
	[ada_no] [float] NULL,
	[parsel_no] [float] NULL,
	[ada_parsel] [nvarchar](255) NULL,
	[alan_m2] [nvarchar](255) NULL,
	[alan] [nvarchar](255) NULL,
	[plan_fonksiyon_adi] [nvarchar](255) NULL,
	[insaat_nizami] [nvarchar](255) NULL,
	[subasman_kotu] [nvarchar](255) NULL,
	[kat_adedi_id] [int] NULL,
	[sacak_seviyesi] [nvarchar](255) NULL,
	[taks] [nvarchar](255) NULL,
	[kaks] [nvarchar](255) NULL,
	[emsal] [nvarchar](255) NULL,
	[on_bahce] [nvarchar](255) NULL,
	[yan_bahce1] [nvarchar](255) NULL,
	[yan_bahce2] [nvarchar](255) NULL,
	[arka_bahce] [nvarchar](255) NULL,
	[insaat_cephesi] [nvarchar](255) NULL,
	[insaat_derinligi] [nvarchar](255) NULL,
	[ifraz_sarti] [nvarchar](255) NULL,
	[aciklama1] [nvarchar](255) NULL,
	[aciklama2] [nvarchar](255) NULL,
	[aciklama3] [nvarchar](255) NULL,
	[parsel_durumu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ozgurluk_katlar]    Script Date: 24.01.2024 01:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ozgurluk_katlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kat_adedi] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([id], [name], [email], [subject], [message], [created_at]) VALUES (1, N'onur', N'onur@gmail.com', N'asd', N'asdasd', CAST(N'2024-01-14T16:48:00.060' AS DateTime))
INSERT [dbo].[contact] ([id], [name], [email], [subject], [message], [created_at]) VALUES (2, N'Onur', N'onurasr@outlook.com', N'Giriş sorunu', N'Giriş sorunu', NULL)
INSERT [dbo].[contact] ([id], [name], [email], [subject], [message], [created_at]) VALUES (3, N'Onur', N'dmrymk11@gmail.com', N'feed', N'feeed', NULL)
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
SET IDENTITY_INSERT [dbo].[mahalleler] ON 

INSERT [dbo].[mahalleler] ([id], [mahalle_adi], [tapu_mahalle_adi]) VALUES (1, N'ÖZGÜRLÜK', N'MURATPAŞA')
SET IDENTITY_INSERT [dbo].[mahalleler] OFF
GO
SET IDENTITY_INSERT [dbo].[ozgurluk] ON 

GO
SET IDENTITY_INSERT [dbo].[ozgurluk] OFF
GO
SET IDENTITY_INSERT [dbo].[ozgurluk_katlar] ON 

INSERT [dbo].[ozgurluk_katlar] ([id], [kat_adedi]) VALUES (1, N'MAX=7 (YEDİ)')
INSERT [dbo].[ozgurluk_katlar] ([id], [kat_adedi]) VALUES (2, N'MAX=4 (DÖRT)')
INSERT [dbo].[ozgurluk_katlar] ([id], [kat_adedi]) VALUES (3, N'MAX=3 (ÜÇ)')
SET IDENTITY_INSERT [dbo].[ozgurluk_katlar] OFF
GO
ALTER TABLE [dbo].[contact] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ozgurluk]  WITH CHECK ADD FOREIGN KEY([kat_adedi_id])
REFERENCES [dbo].[ozgurluk_katlar] ([id])
GO
ALTER TABLE [dbo].[ozgurluk]  WITH CHECK ADD FOREIGN KEY([mahalle_id])
REFERENCES [dbo].[mahalleler] ([id])
GO
USE [master]
GO
