<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eduport - LMS, Education and Course Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Eduport- LMS, Education and Course Theme">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="css2.css?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/contact.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/contact_icons.css">

    <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" href="/Content/contact_style.css">



</head>

<body>
    <br />
    <br />


    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Page Banner START -->
        <section class="pt-5 pb-0"
                 style="background-image:url(/images/map.svg); background-position: center left; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-6 text-center mx-auto">
                        <!-- Title -->
                        <h6 class="text-primary">Bize Ulaşın</h6>
                        <h1 class="mb-4">Yardım etmek için buradayız!</h1>
                    </div>
                </div>

                <div class="row g-4 g-md-5 mt-0 mt-lg-3 justify-content-center">
                    <div class="col-lg-4 mt-lg-0">
                        <div class="card card-body bg-primary shadow py-5 text-center h-100">
                            <h3 class="text-white mb-3">Geliştiriciler</h3>
                            <h5 class="text-white mb-3">Emirhan Eren</h5>
                            <ul class="list-inline mb-0">
                                <li class="list-item mb-3">
                                    <a href="#" class="text-white">
                                        <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>
                                        Antalya
                                    </a>
                                </li>
                                <li class="list-item mb-3">
                                    <a href="#" class="text-white">
                                        <i class="fas fa-fw fa-phone-alt me-2"></i>(+90) 5467363214
                                    </a>
                                </li>
                                <li class="list-item mb-0">
                                    <a href="#" class="text-white">
                                        <i class="far fa-fw fa-envelope me-2"></i>emirhaneren0077@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-lg-0">
                        <div class="card card-body bg-primary shadow py-5 text-center h-100">
                            <h3 class="text-white mb-3">Geliştiriciler</h3>
                            <h5 class="text-white mb-3">Onur Aşar</h5>
                            <ul class="list-inline mb-0">
                                <li class="list-item mb-3">
                                    <a href="#" class="text-white">
                                        <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>
                                        Hatay
                                    </a>
                                </li>
                                <li class="list-item mb-3">
                                    <a href="#" class="text-white">
                                        <i class="fas fa-fw fa-phone-alt me-2"></i>(+90) 5435642396
                                    </a>
                                </li>
                                <li class="list-item mb-0">
                                    <a href="#" class="text-white">
                                        <i class="far fa-fw fa-envelope me-2"></i>onurasr@outlook.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <!-- =======================
    Page Banner END -->
                <!-- =======================
    Image and contact form START -->
                <section>
                    <div class="container">
                        <div class="row g-4 g-lg-0 align-items-center">

                            <div class="col-md-6 align-items-center text-center">
                                <img src="/images/contact.svg" class="h-400px float-start" alt="" style="width:500px; height:500px;">
                            </div>

                            <!-- Contact form START -->
                            <div class="col-md-6">
                                <!-- Title -->
                                <h2 class="mt-4 mt-md-0">Hadi Konuşalım</h2>
                                <p>
                                    Aklınıza takılan sorular ve geri bildirim için doğrudan bizimle iletişime geçin veya
                                    formu doldurun;
                                    size en kısa sürede geri dönüş yapacağız.
                                </p>

                                <form action="/Home/Contact" method="post" role="form" class="contact-form">
                                    <!-- Name -->
                                    <div class="mb-4 bg-light-input">
                                        <label for="yourName" class="form-label">Adınız *</label>
                                        <input type="text" class="form-control form-control-lg" id="yourName"
                                               name="yourName" required>
                                    </div>
                                    <!-- Email -->
                                    <div class="mb-4 bg-light-input">
                                        <label for="emailInput" class="form-label">E-posta adresi *</label>
                                        <input type="email" class="form-control form-control-lg" id="emailInput"
                                               name="email" required>
                                    </div>
                                    <!-- Email -->
                                    <div class="mb-4 bg-light-input">
                                        <label for="subject" class="form-label">Konu *</label>
                                        <input type="text" class="form-control form-control-lg" id="subject"
                                               name="subject" required>
                                    </div>
                                    <!-- Message -->
                                    <div class="mb-4 bg-light-input">
                                        <label for="textareaBox" class="form-label">Mesaj *</label>
                                        <textarea class="form-control" name="message" id="textareaBox" rows="4"
                                                  required></textarea>
                                    </div>
                                    <div class="alert alert-info" id="sendmessage" style="display:none;"></div>
                                    <div id="errormessage" style="color: green; font-size: 16px; font-weight: bold;">
                                        @ViewBag.Uyari
                                    </div>

                                    <!-- Button -->
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary mb-0" type="submit">
                                            Mesaj
                                            Gönder
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- Contact form END -->
                        </div>

                    </div>
                </section>


</main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

    <!-- Bootstrap JS -->
    <script src="/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Template Functions -->
    <script src="/Scripts/functions.js"></script>

</body>

</html>